body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* height: 100vh; */
}

.container {
    text-align: center;
}

#input-form {
    margin-top: 5rem;
    justify-content: center;
    display: flex;
}

.result {
    margin-top: 5rem;
}

body h1 {
    margin-top: 5rem;
}

.console {
    padding: 30px 17px 20px;
    background-color: #1e1e1e;
    color: wheat;
    display: inline-flex;
    flex-direction: column;
    min-width: 700px;
    /* width: 50rem; */
    position: relative;
    /* border-radius: 5px; */
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);
    /* margin: 0 auto; */
    margin-top: 7rem;
    border-top: 28px solid #d5d5d5;


    /* p {
        margin: 0 0 15px 0;

        &:before {
            content: ">";
            padding-right: 15px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    } */
}

.dots-container {
    position: absolute;
    top: -28px;
    left: 0;
    width: 100%;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    background-color: #282727;

    .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 7px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
        background-color: white;

        &:first-child {
            background-color: #ff6057;
        }

        &:not(:first-child):not(:last-child) {
            background-color: #ffc22e;
        }

        &:last-child {
            background-color: #28ca40;
        }
    }
}
